:root {
    --hero-bg: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-second-text: #E5E7EB;
    --header-text: #F9FAF8;
    --button-color: #3882F6;
    --cta-bg: #3882F6;
    --information-header-text: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text: #1f2937;
    }

html, body, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hero {
    background-color: var(--hero-bg);
    width: 100%;
    height: 500px;
}

.hero-container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 20px 15%;
    align-items: baseline;
}

.header-logo {
    color: var(--hero-main-text);
    font-size: 24px;
    font-weight: 800;
}

.header-links {
    color: var(--hero-second-text);
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.hero-lower {
    display: flex;
    margin: 75px 15%;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    color: var(--hero-main-text);
    font-weight: 800;
}

.hero-second-text {
    color: var(--hero-second-text);
    font-size: 18px;
    margin-top: 15px;

}

.hero-left {
    text-align: left;
    width: 400px;
    
}

.hero-button {
    background-color: var(--button-color);
    padding: 10px;
    margin-top: 15px;
    color: var(--hero-main-text);
    border-radius: 10px;
    width: 150px;
    border-style: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}


.hero-image {
    width: 600px;
    height: 250px;
    background-color: #6D747D;
    border-style: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hero-second-text);
}

/* Body section */

.body {
    width: 100%;
    height: 500px;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-title {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 800;
    color: var(--information-header-text);
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
    text-align: center;
    font-size: 18px;
    margin: 40px;
}

.card-image {
    width: 180px;
    height: 180px;
    border: 3px solid var(--cta-bg);
    border-radius: 20px;
    
}