:root {
    --hero-bg: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-second-text: #E5E7EB;
    --header-text: #F9FAF8;
    --button-color: #3882F6;
    --cta-bg: #3882F6;
    --information-header-text: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text: #1f2937;
    

  }